.mobile-menu, .offcanvas{
    display: none ;
  }

  .mobile-menu{
    font-size: 22px;
    position: absolute;
    top: 10px;
  }

  a{
    text-decoration: none;
  }

  .offcanvas{
    width: 300px !important;
  }

  .logo img{
    width: 150px;
  }

  @media (max-width: 768px) {
    .mobile-menu, .offcanvas{
      display: block;
    }
  }

  @media (max-width: 768px) {
    .logo img{
      width: 120px;
    }
  }

  @media (max-width: 425px) {
 
    .logo img{
      width: 100px;
    }
  }